@use "../../presets" as *;
@use "../../mixins" as *;

.section {
  padding-top: 109px;
  padding-bottom: 92px;
  background-color: $color-light;

  &__title {
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 37px;
    margin-top: 3px;
    margin-left: 10px;
  }
  &__title2 {
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 37px;
    margin-top: -10px;
    margin-left: 10px;
  }

  &__description {
    color: $color-secondary;
    text-align: center;
    line-height: $line-height-lg;
    margin-left: 10px;
  }
}

.section2 {
  padding-top: 109px;
  padding-bottom: 40px;
  background-color: $color-light;
}


